@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: var(--roxo);
}

.inria-sans-300 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-400 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-700 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-300-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-400-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-700-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root{
    --cinza: hsl(0, 0%, 85%);
    --cinza-escuro: hsl(0, 0%, 49%);
    --verde: hsl(115, 79%, 43%);
    --branco: hsl(0, 0%, 100%);
    --vermelho: hsl(0, 73%, 71%);
    --roxo: hsl(260, 83%, 21%);
    --preto: hsl(0, 0%, 0%);
    --azeitona: oklch(46.6% 0.025 107.3 / 50%);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--preto);

}

.dashboard{
    background-color: var(--cinza);
    margin: auto;
    width: 1024px;
    height: 768px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.card{
    padding: 0.7rem;
    width: 898px;
    margin: auto;
    background: var(--cinza-escuro);
    border-radius: 7px;
}

.is-erro{
    background-color: var(--vermelho);
}
.titulo{
    text-align: center;
    width: 100%;
}

#entrada{
    height: 400px;
}

#resumo{
    height: 65px;
}

#detalhamento{
    height: 243px;
}

.form{
    padding-top: 18px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 12px;
}

.form-input{
    padding-left: 7px;
    height: 33px;
    border-radius: 7px;
}

.form-textarea{
    padding: 7px;
    border-radius: 7px;
    resize: none;
}

.tad{
    text-align: right;
    padding-right: 7px;
}

.c3{
    width: calc((100% / 12)*3);
}

.c5{
    width: calc((100% / 12)*5);
}

.c10{
    width: calc((100% / 12)*10.5);
}

.flex{
    display: flex;
    justify-content: space-between;
}

.center{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.coluna{
    text-align: center;
}

.resumo > ul {
    list-style: none;
}
.resumo{
    text-align: justify ;
    width: 420px;
    border-radius: 7px;
    height: 190px;
    padding: 7px;
    background-color: var(--branco);
    color: var(--preto);
}

.btn{
    width: 6rem;
    height: 2rem;
    border-radius: 7px;
}

.btn-confirmar{
    background-color: var(--verde);
}

.btn-cancelar{
    background-color: var(--vermelho);
}

input[disabled]{
    background-color: var(--branco);
    border-color: var(--preto);
    color: var(--preto);
}

button{
    margin: 2px  ;
    border: 0;
    background: transparent;
}